<!DOCTYPE html>
<html>
  <head>
    <title>ODIN Web Wallet Concept</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/"><button type="button">Home</button></a></li>
        <li><a href="/send"><button type="button">Send</button></a></li>
      </ul>
    </header>
